
.item-container {
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px; 
  margin-bottom: 10px; 
}
button {
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  margin: 10px auto;
  background-color: rgb(14, 235, 69);
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;

  :hover {
    background-color: rgb(199, 243, 5); 
  }
}
button#delete {
  
  background-color: rgb(248, 8, 0);


  
}
.taskComplete {
  text-decoration: line-through;
}

.taskInput{
  background-color: rgba(255, 228, 196, 0);
  font-size: large;
  border: none;
  outline: none;
}
.boxTareas {
  margin: auto;
  background-image: url('fondoTareas.jpg');
  background-size: cover;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.css-18tn7ki {
  
  color: #1c1b1b !important;
}


.transparent-input {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .boxTareas {
    height: 80vh;
    width: 80vw;
   margin-top: 30px;
  }
  .css-hbj0d5{
    width: 70%;
  }

    .css-bqkvoi {
      width: 11rem !important;
      margin: 32px !important;
    }

    p{
      font-size:small !important;
    }
    .css-9nmd4c{
      width: 11rem !important;
       margin-left: 100px;
    }
    .css-1fylj62 {
      
      width: 230px;
    }
}
