.container-tareas{
  background-image: url('./components/formulario/fondo.jpg');
  background-size: cover;
  height: 500px;
  width:500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1{
  margin-bottom:25px;
}